Source: argp-standalone
Section: unknown
Priority: optional
Maintainer: Wolf McNally <Wolf@WolfMcNally.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.1
Homepage:  https://github.com/BlockchainCommons/argp-standalone
Vcs-Git: github.com:BlockchainCommons/argp-standalone.git 

Package: argp-standalone
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: GNU Argp Argument Parser (Standalone)
 Original Source is https://www.lysator.liu.se/~nisse/misc/argp-standalone-1.3.tar.gz from https://www.lysator.liu.se/~nisse/misc/.
